.flyinganimated {
  opacity: 0;
  position: relative;
  top: 100%;
  animation: fadeInUp 2s forwards, flyIn 2s forwards;
}

.flyinganimated2 {
  opacity: 0;
  position: relative;
  top: 100%;
  animation: fadeInUp 3s forwards, flyIn 2s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flyIn {
  from {
    top: 200px;
  }

  to {
    top: 0;
  }
}